/* .skew .bottom-layout {
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #abb4b9 50%, white);
  transform-origin: right bottom;
  transform: skewX(68deg);
} */


/* h2 {
    color: #a2a2a2;
}

.grad .bottom-layout {
    background: linear-gradient();
}

.grad .heading b {
    font-family: HELVNR;
    color: #586A74;
}

.grad .heading h4 {
    font-family: FRABK;
    font-size: 1.2em;
    color: #586A74;
}

span {
    font-family: framd;
} */

.barcontainer {
    position: relative;
    border: 3px solid black;
    border-radius: 5px 5px 0 0;
    width: 80%;
    margin: 0 auto;
    min-height: 25vw;
    max-height: 50vw;
    min-width: 40%;
    max-width: 60%;
    z-index: 1;
}

.barcontainerheader {
    display: inline;
    position: absolute;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    background: #747272;
    border-bottom: 3px solid black;
    font-size: 1.5em;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 0 black;
    z-index: 0;
}

.bar {
    position: absolute;
    display: inline-block;
    bottom: 0;
    border: 1px solid black;
    border-radius: 6px 6px 0 0;
    background: #747272;
    width: 10%;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 0 black;
    box-shadow: 4px 0 8px #888;
}

.barlabel {
    position: absolute;
    border-top: 2px solid black;
    background: #888;
    bottom: 0;
    width: 100%;
    text-shadow: 1px 1px 0px black;
    color: white;
}

.bar:nth-child(2) {
    left: 5%;
}

.bar:nth-child(3) {
    left: 20%;
}

.bar:nth-child(4) {
    left: 35%;
}

.bar:nth-child(5) {
    left: 50%;
}

.bar:nth-child(6) {
    left: 65%;
}

.bar:nth-child(7) {
    left: 80%;
}


}