             .image {
                 float: right;
                 width: 200px;
                 margin-top: -3em
             }
             /* dropdown inline css */
             
             .floating-box {
                 display: inline-block;
                 width: 150px;
                 height: 75px;
                 margin: 10px;
             }
             /* table css */
             
             table {
                 font-family: arial, sans-serif;
                 border-collapse: collapse;
                 width: 100%;
             }
             
             td,
             th {
                 border: 1px solid #dddddd;
                 text-align: left;
                 padding: 8px;
             }
             
             tr:nth-child(even) {
                 background-color: #dddddd;
             }
             /* date picker */
             
             [type="date"] {
                 background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
             }
             
             [type="date"]::-webkit-inner-spin-button {
                 display: none;
             }
             
             [type="date"]::-webkit-calendar-picker-indicator {
                 opacity: 0;
             }
             /* custom styles */
             
             body {
                 padding: 4em;
                 background: #fff;
                 font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
             }
             
             label {
                 display: block;
                 font-size: 15px;
             }
             
             input {
                 border: 1px solid #c4c4c4;
                 border-radius: 5px;
                 background-color: #fff;
                 padding: 3px 5px;
                 box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
             }
             
             .barcontainer {
                 position: relative;
                 /* border: 3px solid black;
                 border-radius: 5px 5px 0 0; */
                 width: 80%;
                 margin: 0 auto;
                 min-height: 25vw;
                 max-height: 50vw;
                 min-width: 40%;
                 max-width: 60%;
                 z-index: 1;
             }
             
             .barcontainerheader {
                 display: inline;
                 position: absolute;
                 width: 100%;
                 padding-top: 3px;
                 padding-bottom: 3px;
                 /* background: #747272; */
                 /* border-bottom: 3px solid black; */
                 font-size: 1.5em;
                 color: black;
                 text-align: center;
                 /* text-shadow: 2px 2px 0 black; */
                 z-index: 0;
             }
             
             .bar {
                 position: absolute;
                 display: inline-block;
                 bottom: 0;
                 border: 1px solid black;
                 border-radius: 6px 6px 0 0;
                 background: #747272;
                 width: 5%;
                 text-align: center;
                 color: white;
                 text-shadow: 1px 1px 0 black;
                 box-shadow: 4px 0 8px #888;
             }
             
             .barlabel {
                 position: absolute;
                 border-top: 2px solid black;
                 background: #888;
                 bottom: 0;
                 width: 100%;
                 text-shadow: 1px 1px 0px black;
                 color: white;
             }
             
             .bar:nth-child(2) {
                 left: 5%;
             }
             
             .bar:nth-child(3) {
                 left: 20%;
             }
             
             .bar:nth-child(4) {
                 left: 35%;
             }
             
             .bar:nth-child(5) {
                 left: 50%;
             }
             
             .bar:nth-child(6) {
                 left: 65%;
             }
             
             .bar:nth-child(7) {
                 left: 80%;
             }